
<style>

    .button{
        padding: 0.5rem; 
        background: #43a6cf; 
        border: none; 
        border-radius: 5px; 
        color: white; 
        cursor:pointer;
    }

    .button:hover {
        background: #87CEEB;
    }

</style>

<a class="button">
    Pagar
</a>
