{% extends 'base.html.twig' %}

{% block body %}
<h1 style="text-align: center;">Seleccione su método de Pago: </h1>
<main class="container" style="flex-direction: column;align-content: space-around;height: 90vh;justify-content: space-around;">
    {% for item in paymentMethod %}
        <twig:btnPaymentMethod children="{{item.name}}" href="{{item.href}}" />
    {% endfor %}
</main>

{% endblock %}
